/* Basic settings */
:root {
  --green: #9DC183;
  --dark-green: #75a851;
  --gray: #F0F0F0;
  --blue: #458dbd;
  --navy: #142f41;
  --yellow: #FFFDD0;
}

body {
  margin: 0;
  font-family: "Verdana";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span {
  display: block;
}

label {
  display: block;
}

button {
  cursor: pointer;
}

details {
  cursor: pointer;
}

hr { 
  border: .5px solid grey;
  margin: 20px 0;
  width: 100%;
}

/* Formatting header */

.headroom-wrapper + * {
  padding-top: 45px; /* adjust based on the height of the header */
}

/* Misc hover effects */

button:hover {
  background-color: var(--navy);
  color: var(--gray);
}