/* Basic settings */
:root {
  --green: #9DC183;
  --dark-green: #75a851;
  --gray: #F0F0F0;
  --blue: #458dbd;
  --navy: #142f41;
  --yellow: #FFFDD0;
}

body {
  margin: 0;
  font-family: "Verdana";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span {
  display: block;
}

label {
  display: block;
}

button {
  cursor: pointer;
}

details {
  cursor: pointer;
}

/* Formatting header */

.headroom-wrapper + * {
  padding-top: 45px; /* adjust based on the height of the header */
}

/* Misc hover effects */

button:hover {
  background-color: var(--navy);
  color: var(--gray);
}

/* Formatting side panel */

.rating-filter {
  display: flex;
  font-size: 25px;
}
.star {
  font-size: 2rem; /* Adjust star size */
  cursor: pointer;
  color: gray; /* Empty star color */
}

.star.filled {
  color: black; /* Filled star color */
}

.rating-filter:hover .star {
  color: black;
}

.star:hover ~ .star {
  color: gray;  /* Ensure all stars after the hovered star are gray */
}